*~
*.log
*.o
*.pyc
__pycache__
tiled/*.tsx
*.mesh.xml
*.mesh
*.skeleton.xml
*.skeleton
*.iso.png
ceilings/*.obj
ceilings/*.mtl
ceilings/*.material
floors/*.mtl
floors/*.obj
floors/*.material
OgreAssimp/OgreAssimpConverter
TinyRenderer/TinyRenderer
Pinocchio/AttachWeights
Pinocchio/PinocchioDemo
.depend
